@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
.title{
    font-weight: 600;
    color: #000;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 72px;
    background: linear-gradient(to right, #00B7FF 0%, #FFFFFF 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.title:hover{
    color: #000;
    text-decoration: none;
}